{% extends "base.html" %}

{% block content %}
  <div class="index-content">
    <div class="row">
      <div class="col-lg-12">
        {% for article in articles_page.object_list %}
          <article>
            <section class="details">
              <h4 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}"
                   rel="bookmark"
                   title="Permalink to {{ article.title|striptags }}">
                   {{ article.title }}
                </a>
              </h4>
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

